<!DOCTYPE html>
{% load assets %}
{% load staticfiles %}
{% load compress %}
{% load questions_tags %}
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
{% block head %}
<head>
{% script %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>QNA</title>
{% block stylesheets %}
  <!-- Include CSS Files -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" />
  <link rel="stylesheet" href="{% static 'stylesheets/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'stylesheets/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}">
{% endblock stylesheets %}
</head>
{% endblock head %}

<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{% settings_value "FACEBOOK_APP_ID" %}', // App ID
    channelUrl : '//WWW.qnaproject.COM/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
    } else if (response.status === 'not_authorized') {
      console.log("logged into fb, not app");
    } else {
        console.log("not logged into fb");
        {% if user.is_authenticated %}
        console.log("logged into app");
        {%else%}
        console.log("not logged into app");
        {%endif%}
      }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));
</script>

{% block navbar %}
<div id="navbar" class="row">
  <div class="large-9 large-centered columns">
    <div class="panel darkgray">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="{%url index%}"><img src="{% static 'images/logo.png' %}" width="94px" height="45px"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

     <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">
          <li>{% if user.is_authenticated %} <a href="/questions/submit/">SUBMIT</a> {%else%} <a href class="south" value="south" title="Log in to ask your own questions.">SUBMIT</a> {%endif%}</li>
          <li>{% if user.is_authenticated %} <a href="/profile/">PROFILE</a> {%else%} <a href class="south" value="south" title="Log in to keep track of your activity.">PROFILE</a> {%endif%}</li>
          <li>{% if user.is_authenticated %} <a href="" class="logout">LOGOUT</a> {%else%} <a href data-dropdown="login_drop">LOG IN</a> {%endif%}</li>
          <li><div class="large-12 columns"><input id="search" type="text" placeholder="Search..." /></div></li>
        </ul>
      </section>
    </nav>
    </div>
  </div>
</div>

<!--Login Dropdown Content-->
<div id="login_drop" class="f-dropdown content" data-dropdown-content>
<div class="row"><div class="large-12 columns"><p class="text-justify">Log in to ask your own questions and keep track of your activity and friends.</p></div></div>
<form class="login">
  <div class="row"><div class="large-12 columns"><input type="text" placeholder="Email"></div></div>
  <div class="row"><div class="large-12 columns"><input type="text" placeholder="Password"></div></div>
  <div class="row">
    <div class="large-8 columns">
      <label for="rememberlogin">
      <input type="checkbox" id="rememberlogin"><span class="custom checkbox"></span> Remember Me</label>
    </div>
    <div class="large-4 columns">
      <a href class="small button secondary">Login</a>
    </div>
  </div>
</form>

<div class="row">
  <div class="large-12 columns">
    <p class="text-justify">You can also sign up with <a href id="fblogin" class="fblogin">Facebook</a>, <a href>Twitter</a>, or <a href data-reveal-id="loginModal">email.</a></p>
  </div>
</div>

</div>
{% endblock navbar %}

<div id="content">

{% block submit_question %}{% endblock submit_question %}

{% block profile %}{% endblock profile %}

{% block question_details %}{% endblock question_details %}

{% block current_question %}
<div id="current_question"></div>
{% endblock current_question %}

{% block previous_question %}
<div id="previous_question"></div>
{% endblock previous_question %}

{% block search_results %}{% endblock search_results %}

</div>



<!--Signup Modal-->
<div id="loginModal" class="reveal-modal medium">

<div class="row"><div class="large-12 columns"><input type="text" placeholder="Email"></div></div>
<div class="row"><div class="large-12 columns"><input type="text" placeholder="Password"></div></div>
<div class="row"><div class="large-12 columns"><a href class="small button secondary">Login</a></div></div>

<div class="row">
  <div class="large-12 columns">
    <p><a href="" class="fblogin">Login with Facebook</a></p>
    <p><a href="" class="login">Login with Google</a></p>
    <p><a href="" class="login">Login with Twitter</a></p>
  </div>
</div>
<a class="close-reveal-modal">&#215;</a>
</div>

{% compress js %}
  <!--   <script src="{% static 'javascripts/vendor/custom.modernizr.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
 <script src="{% static 'javascripts/vendor/zepto.js' %}"></script>
    <script src="{% static 'javascripts/foundation.min.js' %}"></script>
    <script src="{% static 'javascripts/jquery.powertip.min.js' %}"></script>
    <script src=" {% static 'javascripts/typeahead.js' %}"></script>-->
  <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
 <!-- <script src="{% static 'javascripts/app.js' %}"></script>-->
<script type = "text/javascript">
$(document).ready(function() {
  $('#search').typeahead([
  {
    name: 'questions',
    remote: '{% url search %}?q=%QUERY',
    footer: '<div class = "searchresults"><a href="{% url search_results %}?q=%QUERY"><p>See all search results</p></a></div> {% if user.is_authenticated %} <a href="{% url submit %}"> {%else%} <a href class="south" value="south" title="Log in to ask your own questions."> {%endif%}<p>Submit new question</p></a>',
    template: '<p>\{\{value\}\}</p>',
    engine: Hogan,
    limit: 5
  }])
  .on('typeahead:closed', function() {
    $('#search').val('');
  })
  .on('typeahead:selected', function(evt, item) {
    $('#content div').empty();
    $.ajax({
      url: "/questions/" + item.id + "/",
      type: "GET",
      success: function(data) {
        $('#search').val('');
        $('#current_question').html(data).hide().fadeIn(200);
      }});
  });
});

$(document).on('click', '.searchresults a', function() {
  var $this = $(this), query = $('#search').val();
  $this.attr('href', $this.attr('href').replace('%QUERY', query));
});
</script>
{%endcompress%}
</body>
</html>