{% extends "base.html" %}
{% block current_question %}

{% load staticfiles %}
{% load assets %}
{% load compress%}
<div id ="current_question">
  <div class="row">
    <div class="large-9 large-centered columns">
      <div class="panel red current">
        <h1 class="text-center">{{current_question.question}}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-9 large-centered columns">
      <div class="panel blue current">
        {% for a in current_question.answer_set.all %} {%csrf_token%}
        <a href="#" id="{{a.id}}" type="int" class="answer"><p class="current_answers text-center">{{a.answer}}</p></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% compress js %}
<script type="text/javascript">
$(document).ready(function() {
  pageurl = '/questions/'+ '{{current_question.id}}' + '/';
  window.history.pushState({path:pageurl},'',pageurl);  
/*  var myVal = window.location.href;
  tmp = myVal.substr ( myVal.indexOf ( '/questions/' ) );
  console.log(tmp);
  if (tmp !== '{{current_question.id}}/') {
    console.log(pageurl);
    window.location=pageurl;
  };
  console.log('{{current_question.id}}'); */
})
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.answer').click(function(e) {
    e.preventDefault();
    $('#content div').empty();
      $.ajax({
        url: '/questions/' + this.id + '/vote' + '/',
        success: function(data) {
            $('#current_question').html('&nbsp;').load("/questions/"+data.current_question_pk +"/").hide().fadeIn(200);
            $('#previous_question').html('&nbsp;').load("/questions/previous_question/" + data.previous_question_pk + "/").hide().fadeIn(200);
        }
      });
  });
});
</script>
{% endcompress %}

{% endblock current_question %}
