<html>
<head>
{% load staticfiles%}
{% load questions_tags %}
      <script src="{% static 'javascripts/vendor/jquery.js' %}"></script></head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{% settings_value "FACEBOOK_APP_ID" %}', // App ID
    channelUrl : '//WWW.qnaproject.COM/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
      var access_token=response.authResponse.accessToken;
      window.location.href =  '/facebook_login_success?access_token=' + access_token;
    } else if (response.status === 'not_authorized') {
      console.log("logged into fb, not app");
    } else {
        console.log("not logged into fb");
        {% if user.is_authenticated %}
        console.log("logged into app");
        {%else%}
        console.log("not logged into app");
        {%endif%}
      }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button show-faces="false" size="large" width="200" scope='email,user_birthday,user_education_history,user_hometown,user_location,user_questions,user_relationships,user_religion_politics,user_work_history' max-rows="1"></fb:login-button>
</body>
</html>