{% load questions_tags %}

<div class="row">
  <div class="large-9 large-centered columns">
    <div class="panel gray previous">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="text-center"><a href="{%url question_details previous_question.id %}">{{previous_question.question}}</a></h1>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          {% for answer in previous_question.answer_set.all %}
          {{ answer.answer }} ({% filter floatformat %}{% percentage previous_question answer %}{% endfilter %}%)
          <div style="background: #444444; border: 0px; height: 16px; width: {% percentage previous_question answer %}%;"></div>
          {% endfor %}
          <p>{{ previous_question.total_vote_count }} Votes</p><br>
          </div>
      </div>
    </div>
  </div>
</div>
