{% extends "base.html" %}

{% block question_details %}
{% load staticfiles %}
{% load compress %}
{% load assets %}
<head>{% script "javascripts/chart.js" %}{% script "javascripts/vendor/underscore.js" %}</head>

  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel="stylesheet" href="{% static 'stylesheets/poll.css' %}" />

<h3>Sunburst Charts</h3>
<div class="pollChart" id="sunburst"></div>








<!--<script src="{% static 'javascripts/vendor/d3.js' %}"></script>
<script src="{% static 'javascripts/vendor/underscore.js' %}"></script>
<script src="{% static 'javascripts/chart.js' %}"></script>-->

{% compress js %}
<script type="text/javascript">
$(document).ready(function() {
  pageurl = "{% url question_details question.id %}"
  window.history.pushState({path:pageurl},'',pageurl);
});
</script>
<script>
    (function(){
        var pollChart = window.pollChart;
        d3.select("form select").on("change", function() {
            console.log(this.options[this.selectedIndex].value);
/*            url = "/questions/getjson/"+this.options[this.selectedIndex].value+"/";*/
            pollChart.showSunburst('{{json|safe}}');
        });
        data = JSON.parse('{{json|safe}}');
        console.log(data);
        pollChart.showSunburst(data);

    })();

</script>
{% endcompress %}
{% endblock question_details %}