<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{% static 'javascripts/sunburst.js' %}"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<link rel="stylesheet" href="{% static 'stylesheets/tipsy.css' %}" type="text/css" />
<meta charset="utf-8">

</head>
<body>

<form id = "1">
  <tr><th><label for="id_stat">Stat:</label></th><td><select onchange="loadStat(this)" name="stat1" id="1" initial="initial">
<option value="-" selected="selected">--</option>
<option value="agegroup">Age</option>
<option value="gender">Gender</option>
</select></td></tr>
</form>
<form id = "2">
  <tr><th><label for="id_stat">Stat:</label></th><td><select onchange="loadStat(this)" name="stat2" id="2">
    <option value="-" selected="selected">--</option>
<option value="agegroup">Age</option>
<option value="gender">Gender</option>
</select></td></tr>
</form>

 <div id="chart1"></div>
 <div id = "tooltip"></div>





  <script src="{% static 'javascripts/modernizr.foundation.js' %}"></script>
  <script src="{% static 'javascripts/jquery.js' %}"></script>
  <script src="{% static 'javascripts/foundation.min.js' %}"></script>
  <script src="{% static 'javascripts/app.js' %}"></script>

  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script type='text/javascript' src='{% static "javascripts/jquery.tipsy.js" %}'></script>

 <div id="chart1"></div>

    <script type="text/javascript">
        var chart1 = document.getElementById("chart1");
        d3.sunburst(chart1, {
          'radius': 200,
          'width' : 500,
          'height' : 500,
          'padding': 1,
          'dataUrl' : null,
          'data': JSON.parse('{{initialjson|safe}}'),
          'dataType' : 'json',
          'chartType' : 'bubble',
          'dataStructure' : {
            'name' : 'name',
            'children' : 'children',
            'value' : 'size'
          }
        });


      </script>
      <script type = "text/javascript">
function loadStat(x) {
  var dropdown1=$('#1 option:selected').val();
  var dropdown2=$('#2 option:selected').val();
  $.ajax({
    url: '/questions/details/'+{{question.id}}+'/',
    data: {'stat':x.value, 'formnumber':x.id, 'dropdowns':[dropdown1, dropdown2]},
    success: function(data) {
      d3.sunburst(chart1, "updateData", data);
      /*draw(data);*/
    }
  });
}
</script>
</body>
</html>
