<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


</head>
<body>
{% load staticfiles%}


        <div class="search">
          <input class="typeahead" type="text" placeholder="NBA and NHL teams">
        </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'javascripts/vendor/jquery.js' %}"></script>
<script src=" {% static 'javascripts/typeahead.js' %}"></script>


<script type = "text/javascript">
$(document).ready(function() {

$('.search .typeahead').typeahead([
{
name: 'questions',
prefetch: '/questions/search_questions/',
 header: '<h3>Questions</h3>',
 limit: 6
},
{
  name: 'answers',
  prefetch: '/questions/search_answers/',
  header:'<h3>Answers</h3>',
  limit: 6
}
]).on('typeahead:selected', function(query){
  console.log(query.currentTarget.value);
    $('#current_question').html('&nbsp;').load('/questions/search?searchtext='+query.currentTarget.value+"/");
});


});
</script>

<div id = "current_question"></div>
</body>
</html>

