{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% block navbar %}
{% endblock navbar %}

{%block current_question%}
<script type="text/javascript">
$(document).ready(function() {
  pageurl = '/questions/'+ '{{current_question.id}}' + '/';
  window.history.pushState({path:pageurl},'',pageurl);
});
</script>
<div id = "current_question">
<div id="current_question" class="row">
  <div class="twelve columns">
    <div class="panel red">
      <div class="row">
        <div class="twelve columns">
          <p class="current_question text-center">{{current_question.question}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="current_answers" class="row">
  <div class="twelve columns">
    <div class="panel blue">
      <div class="row">
        <div class="twelve columns">
          {% for a in current_question.answer_set.all %} {%csrf_token%}
          <a href = '' id="{{a.id}}" type="int" class="answervote"><p class="current_answers text-center">{{a.answer}}</p></a>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id = "previous_question"></div>
{%endblock current_question%}



{%block highcharts%}

{%endblock highcharts%}