{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% block navbar %}
{% endblock navbar %}

{%block current_question%}
<script type="text/javascript">
$(document).ready(function() {
  pageurl = '/questions/'+ '{{current_question.id}}' + '/';
  window.history.pushState({path:pageurl},'',pageurl);
});
</script>
<div id = "current_question">
  <div class="row">
    <div class="large-9 large-centered columns">
      <div class="panel red current">
        <h1 class="text-center">{{current_question.question}}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-9 large-centered columns">
      <div class="panel blue current">
        {% for a in current_question.answer_set.all %} {%csrf_token%}
        <a href = '' id="{{a.id}}" type="int" class="answer"><p class="current_answers text-center">{{a.answer}}</p></a>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

<div id="previous_question"></div>
{%endblock current_question%}



{%block highcharts%}

{%endblock highcharts%}