body 	{
		background-image:url('../images/background.png');
		padding-top: 0.5em;
		}

#search {
	font-family: 'Georgia', 'Times New Roman', 'Times', serif;
}

h1, h2, h3, h4, h5, h6 {
  		font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  		font-weight: normal;
  		font-style: normal;
		text-rendering: optimizeLegibility;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.2125em; }
			h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
				font-size: 60%;
				color: #bdbdbd;
				line-height: 0; }

.current h1 {font-size: 1.6875em;}
.previous h1 {font-size: 1.375em;}

.profile h1	{font-size: 3em; margin-bottom: 0;}
.profile h2	{font-size: 2.25em; margin-bottom: 0;}
.profile p	{
	font-size:1.375em;
	line-height: 1.375em;
	margin-bottom: .125em;
		}
.profile .subheader	{font-size:1.375em; line-height: 1em; margin-bottom: 1em;}

.question h1	{font-size: 2.25em; margin-bottom: 0;}
.question h2	{font-size: 2em; margin-bottom: 0;}
.question p	{
	font-size:1.375em;
	line-height: 1.375em;
	margin-bottom: .125em;
		}
.question .subheader	{font-size:1.125em; line-height: 1em; padding-left: 35%;}
.question .subheader2	{font-size:.875em; line-height: 1em; padding-left: 35%}



.red,
.blue,	
.gray	{
		overflow: auto;
		}

.red	{
		background-color: #f15c22;
		color: #ffffff;
		}

.red a,
.blue a {
		color: #ffffff;
		}

.red a:hover,
.blue a:hover {
		color: #c4c4c4;
		}

.blue	{
		background-color: #73a1d5;
		color: #ffffff;
		}

.gray	{
		background-color: #b6b7ba;
		color: #444444;
		}

.darkgray
		{
		background-color: #494949;
		}

.empty	{
		background-color: inherit;
		color: inherit;
		padding: 0;
		}

.current,
.previous	{
		padding: 2em;
		}

.profile,
.question	{
		padding: 4em 10% 4em 10%;
		}

.singular	{

		}

.current_answers	{
		font-size: 1.375em;
		line-height: 1.2125em; }
		margin-bottom: 0;
		}

.current_question	{
		font-family: inherit;
		font-size: 1.5em;
		}

.previous_question	{
		font-family: inherit;
		font-size: 1.125em;
		}

.panel,
.top-bar	{margin:0 0 0.5em 0; border: 0;}

//Typeahead CSS

.twitter-typeahead {
	}

.tt-query,
.tt-hint {
	background-color: transparent;
	padding: 6px;
	outline: none;
	width: 100%;
	vertical-align: inherit;
	}

.tt-hint {
	color: #999
	}

.tt-dropdown-menu {
	min-width: 125%;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
	text-shadow: none;
	}

	.tt-dropdown-menu p {
		margin: 5px 0;
		line-height: 1.4;
		}

	.tt-dropdown-menu a {
		color: #444;
		border: 0;
		display: block;
		text-decoration: none;
		}

.tt-suggestion {
	padding: 3px 10px;
	font-size: 14px;
	line-height: 18px;
	}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #494949;
	}

	.tt-suggestion.tt-is-under-cursor a {
		color: #fff;
		}

.tt-suggestion p {
	margin: 0;
	}

/* rtl support */
.twitter-typeahead.tt-rtl {
	direction: rtl;
	}

.twitter-typeahead.tt-rtl .tt-dropdown-menu {
	left: auto;
	right: 0;
	}